.feedback__item{
	max-width: 380px;
	margin-left: 20px;
	margin-top: 30px;
}
.feedback__item__avatar{
	width: 100%;
	display: flex;
	align-items: center;
}
.avatar__photo{
	width: 77px;
	height: 77px;
	border-radius: 50%;
	background-color: lightgrey;
}

.avatar__descr{
	margin-left: 20px;
}
.avatar__title{
	color: #20b5a1;
	font-family: 'Roboto-Bold';

}
.avatar__def{
	font-family: 'Roboto-Regular';
	color: #20b5a1;
}